* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ==============================================================================
                                  NAVBAR SECTION
   ============================================================================== 
*/

.navbar {
    --bs-navbar-toggler-border-radius: 1px;
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-brand-font-size: 1.5rem;
    --bs-navbar-brand-color: #fff;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: #4377c6 !important;
}

.navbar-brand {
    font-weight: 600;
    color: #000;
}

.nav-link {
    color: #fff;
}

.navbar-nav .nav-link.active {
    color: #000;
}

/* ==============================================================================
                                  HERO SECTION
   ============================================================================== 
*/


/* ==============================================================================
                                MEDIA QUERY SECTION
   ============================================================================== 
*/

@media (min-width: 992px) {
    .navbar-brand {
        font-size: 30px;
    }
}