* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ==============================================================================
                                  NAVBAR SECTION
   ============================================================================== 
*/

.navbar {
    --bs-navbar-toggler-border-radius: 1px;
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-brand-font-size: 1.5rem;
    --bs-navbar-brand-color: #fff;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: #4377c6 !important;
}

.navbar-brand {
    font-weight: 600;
    color: #000;
}

.nav-link {
    color: #fff;
}

.navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-nav .nav-link.active:hover {
    color: #000;
}

/* ==============================================================================
                                  NAVBAR SECTION
   ============================================================================== 
*/

.hero-section {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-section a {
    text-decoration: none;
    color: #000;
    margin: 3% 2%;
    font-weight: 600;
}

.hero-section a .sub-hero-section {
    width: 280px;
    height: 240px;
    border: 1px solid #4377c6;
    box-shadow: 0px 5px 10px -4px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    overflow: hidden;
}

.hero-section a .sub-hero-section img {
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
    margin: 5% 0;
    /* color: #4377c6;
    margin: 10% 0;
    font-size: 3em; */
}

/* ==============================================================================
                                MEDIA QUERY SECTION
   ============================================================================== 
*/

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .navbar-brand {
        font-size: 30px;
    }

    .hero-section a .sub-hero-section {
        width: 330px;
        height: 280px;
    }
}